.order-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
}

.hero-container {
    height: 70vh;
    background-image: url('../../../public/images/burger-shop.webp');
    background-repeat: no-repeat;
    background-size: cover;
    /* this background-position will need to be adjusted for smaller screens */
    background-position: 0px -100px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.3);
}

.hero-container h1 {
    font-size: 5em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 30px 10px 30px;
    margin-bottom: 20px;
}

.hero-container p {
    font-size: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px 30px 5px 30px;
    font-weight: 500;
}