.button-container{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 20px;
}

.delivery-totals {
    text-align: left;
    padding-top: 10px
}

.delivery-totals td {
    padding: 5px;
}

.fee-calculator {
    max-width: 20vw;
    min-width: 15vw;
    padding: 20px 0;
}

.fee-calculator form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--cb-borderLight);
    border-top: 1px solid var(--cb-borderLight);
}

.fee-calculator form label {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.fee-calculator form label p {
    margin: 0;
}

/* remove the arrows from numbers inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
  }
/* end of removing arrows */