.button-container{
    display: flex;
    justify-content: space-around;
}

.fee-calculator {
    max-width: 20vw;
    min-width: 15vw;
    padding: 20px 0;
}

.fee-calculator form {
    display: flex;
    flex-direction: column;
}

.fee-calculator form label {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

.fee-calculator form button {
    margin-top: 20px;
}

.fee-calculator form label p {
    margin: 0;
}

.delivery-totals {
    text-align: left;
    padding-top: 10px
}
