.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: grey;
    padding: 0 40px;
    background-image: linear-gradient(180deg, var(--wolt-blue-dark), var(--wolt-blue));
    border-bottom: rgba(255, 255, 255, 0.4) solid 1px;
}

.nav-container h2 {
    color: var(--cb-surfaceMain);
    text-shadow: 1px 1px 1px var(--cb-textSecondary);
    font-family: 'Kaushan Script';
    font-size: 2em;
    margin: 10px;
}

.nav-container ul {
    list-style: none;
    display: flex;
}

.nav-container li:last-child {
    border-left: 1px solid var(--cb-textSecondary);
    padding: 0 19px;
}

.nav-container li {
    padding: 0 20px;
}

.nav-container a {
    text-decoration: none;
    color: var(--cb-surfaceMain);
    font-weight: 500;
}