body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --wolt-blue: #009de0;
  --cb-textPrimary: rgba(32,33,37,1);
  --cb-textSecondary: rgba(32,33,37,0.64);
  --cb-textTertiary: rgba(32,33,37,0.4);
  --cb-surfaceMain: rgba(255,255,255,1);
  --cb-borderLight: rgba(32,33,37,0.12);
}
h1, h2, h3, p, span {
  color: var(--cb-textPrimary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
}